/*goodluck lil dude*/

:root {
    --main-bg-color: #0F0F0F;
    --secondary-bg-color: #222222;
    --main-text-color: #FFFFFF;
    --accent-color: #1DE384;

    --primary-spacing: 1em;
    --secondary-spacing: 2em;

    --section-spacing: 0.75em;

    --standard-border-radius: 1.25em;

}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.img-carousel {
    grid-area: img;
}
.fullName {
    grid-area: name;
}
.birthday {
    grid-area: birthday;
}
.socials{
    grid-area: socials;
}
.hobbys{
    grid-area: hobbys;
}
.oneliner {
    grid-area: oneliner;
}
.quote{
    grid-area: quote;
}


/* Mobile First CSS */

.aboutme {
    display: flex;
    flex-direction: column;
    text-align: center;
}

p {
    font-size: 2em;
}

/* img section */

.img-carousel {
    margin: var(--secondary-spacing) var(--secondary-spacing) 0em var(--secondary-spacing);
    padding-left: 0.75em;
    /* so the first img centers */

    display: flex;
    gap: 50px;
    /* Spacing between cards */
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 0 20px;
}

::-webkit-scrollbar {
    scrollbar-color: var(--main-bg-color);
}

.img {
    width: 20em;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    scroll-snap-align: center;
    margin-right: 0.6em;
    /* so the second img centers */
}

.indicator {
    color: #4A4A4A;
    font-size: 2em;
}

strong {
    color: var(--accent-color);
    margin: 0.25em;
}

/* Full name section */

.fullName {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--section-spacing)
}

h1 {
    font-size: 3em;
}

/* birthday section */


.birthday {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--section-spacing);
    padding: var(--primary-spacing);
}

time {
    color: #616161;
    font-size: 2.5em;
    font-weight: bold;
}

/* socials section */

.socials {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--section-spacing);
    padding: var(--primary-spacing);
}

svg {
    width: 5em;
    margin: var(--primary-spacing);
    fill: #616161;
}

svg:hover {
    transition: ease-out 0.5s;
    transform: scale(1.1);
}

/* oneliner */

.oneliner {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--section-spacing);
}

.oneliner-text {
    font-size: 3em;
    font-weight: 600;
    color: #383737;
}

.oneliner-text {
    background: linear-gradient(45deg,
            #274fbd,
            #01d8fd,
            #14dfea,
            #3fc12a,
            #f9ac07,
            #5406d9,
            #e912a3,
            #7a3bca,
            #f9ac07,
            #7a3bca);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* hobbys */

.hobbys {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--section-spacing);
}

ul {
    list-style-type: none;
}

li {
    float: inline-start;
    font-size: 3em;
    margin: 0.5em;
}

li:hover {
    transition: ease-out 0.5s;
    transform: scale(1.25);
}

/* oneThing */

.oneThing {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--section-spacing);
}

.oneThingQuestion {
    font-size: 1.5em;
    text-align: left;
    margin: 1.5em;
}

.theThing {
    font-size: 3em;
    color: var(--accent-color);
    transition: transform 1.25s ease-in-out;
}

.theThing:hover {
    transform: rotateX(720deg) scale(1.5);
}

/* quote */

.quote {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--section-spacing);
}

.quote-text {
    font-size: 2.75em;
    padding: 1.5em 0em 1.5em 0em;
}

/* #region big pHone stylinG brrr */

@media (min-width: 37.18em) {

    /* hobbys */

    li {
        margin: 0.75em;
    }

    /* oneThing */

    .oneThingQuestion {
        font-size: 2em;
    }

}

/* quote */

.quote-text {
    font-size: 3em;
}

/* #endregion */

@media (min-width: 37.81em) {

    .indicator {
        display: none;
    }

    .aboutme {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 7% 7% 7% 7% 15% 15%;
        grid-template-areas: 
        "img img"
        "name name"
        "birthday birthday"
        "socials socials"
        "oneliner oneliner"
        "hobbys onething"
        "quote quote"
        ;
    }


   


}

/* Jumped to macbook screen :( */ 
@media (min-width: 70em) {

    .aboutme {
        margin: 4em 10em 5em 10em;
        height: 100dvh;
        display: grid;
        grid-template-columns: auto 33% 33%;
        grid-template-rows: 17.5% 30% 17.5% 17.5%;

        grid-template-areas:
            "img socials oneliner"
            "img hobbys onething"
            "name quote quote"
            "birthday quote quote"
        ;
    }

    /* img */

    .img {
        height: 18em;

    }

    .img-carousel {
        grid-area: img;
    }

    /* name */

    .fullName {
        grid-area: name;
    }

    h1 {
        margin: 0.5em;
    }

    /* birthday */

    .birthday {
        grid-area: birthday;
    }

    .birthDate {
        margin: 0em
    }

    /* socials  */

    .socials {
        grid-area: socials;
    }

    svg {
        width: 4em;
        margin: 0.3em 0.6em 0.3em 0.6em;
    }

    /* oneliner */

    .oneliner {
        grid-area: oneliner;
    }

    .oneliner-text {
        margin: 0.5em;
    }

    /* hobbys */

    .hobbys {
        grid-area: hobbys;
    }

    li {
        margin: 0.25em;
    }

    /* oneThing */

    .oneThingQuestion {
        margin: 0.75em;
    }

    .theThing {
        margin: 0.5em;
    }

    .theThing:hover {
        transform : scale(1.5);
        transform: rotateX(720deg) scale(2);
    }

    /* quote */ 

    .quote {
        grid-area: quote;
    }

    .quote-text {
        font-size: 4em;
        margin-top: -0.75em;
    }

}