/*goodluck lil dude*/

:root {
    --main-bg-color: #0F0F0F;
    --secondary-bg-color: #222222;
    --main-text-color: #FFFFFF;
    --accent-color: #1DE384;

    --primary-spacing: 1em;
    --secondary-spacing: 2em;

    --standard-border-radius: 1.25em;

}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Mobile First CSS */

.aboutme {
    display: flex;
    flex-direction: column;
    text-align: center;
}

p {
    font-size: 2em;
}

/* img section */

.img-carousel {
    margin: var(--secondary-spacing) var(--secondary-spacing) 0em var(--secondary-spacing);
    padding-left: 0.75em;
    /* so the first img centers */

    display: flex;
    gap: 50px;
    /* Spacing between cards */
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 0 20px;
}

::-webkit-scrollbar {
    scrollbar-color: var(--main-bg-color);
}

.img {
    width: 20em;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    scroll-snap-align: center;
    margin-right: 0.6em;
    /* so the second img centers */
}

.indicator {
    color: #4A4A4A;
    font-size: 2em;
}

strong {
    color: var(--accent-color);
    margin: 0.25em;
}

/* Full name section */

.fullName {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--primary-spacing)
}

h1 {
    font-size: 3em;
}

/* birthday section */


.birthday {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--primary-spacing);
    padding: 1em;
}

time {
    color: #616161;
    font-size: 2.5em;
    font-weight: bold;
}

/* socials section */

.socials {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--primary-spacing);
    padding: var(--primary-spacing);
}


/* oneliner */

.oneliner {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--primary-spacing);
}

.oneliner-text {
    font-size: 3em;
    font-weight: 600;
    color: #383737;
}

.oneliner-text {
    background: linear-gradient(
      45deg,
      #274fbd,
    #01d8fd,
    #14dfea,
    #3fc12a,
    #f9ac07,
    #5406d9,
    #e912a3,
    #7a3bca,
    #f9ac07,
    #7a3bca
    );
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 20s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  



/* hobbys */

.hobbys {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--primary-spacing);
}

/* oneThing */

.oneThing {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--primary-spacing);
}

/* quote */

.quote {
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
    margin: var(--primary-spacing);
}

.quote-text {
    font-size: 3em;
}